# Importing packages from the environment into the Notebook

In [1]:
import tensorflow as tf

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('real_estate_db.csv', encoding='latin-1') # imports the csv into the local notebook
df.head()

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,220336,NaN,140,16,2,Alaska,AK,Unalaska,Unalaska City,City,...,32.78177,31.91667,19.31875,440.46429,1894.0,0.25053,0.47388,0.30134,0.03443,0.09802
1,220342,NaN,140,20,2,Alaska,AK,Eagle River,Anchorage,City,...,38.97956,39.66667,20.05513,466.65478,1947.0,0.94989,0.52381,0.01777,0.00782,0.13575
2,220343,NaN,140,20,2,Alaska,AK,Jber,Anchorage,City,...,22.20427,23.16667,13.86575,887.67805,3570.0,0.00759,0.50459,0.06676,0.01000,0.01838
3,220345,NaN,140,20,2,Alaska,AK,Anchorage,Point Mackenzie,City,...,37.00750,34.00000,22.06347,281.49420,1049.0,0.20247,0.44428,0.05933,0.00000,0.21563
4,220347,NaN,140,20,2,Alaska,AK,Anchorage,Anchorage,City,...,34.96611,31.75000,20.49887,655.98066,2905.0,0.56936,0.51034,0.08315,0.06731,0.08711

# Cleaning the data

In [5]:
df.drop_duplicates(subset=None, inplace=True) # drops duplicate rows
df.drop('BLOCKID', axis=1, inplace=True) # drops the nan-filled column

In [6]:
df = df.replace(r'^\s*$', np.nan, regex=True) # turns null characters into nan
df.dropna(axis=0, inplace=True) # drops nan-filled columns

In [7]:
df_sampled = df.sample(frac=0.01) # samples 0.1 of the db.

In [8]:
df_sampled.head() # prints the first five indexes of the new sampled db.

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
18257,255215,140,161,26,Michigan,MI,Ann Arbor,Ann Arbor City,CDP,tract,...,36.31431,35.16667,22.15027,735.80525,3212.0,0.64093,0.66601,0.05428,0.00000,0.08606
20794,260015,140,57,37,North Carolina,NC,Lexington,Lexington City,Village,tract,...,41.09126,40.83333,23.92356,823.45034,3394.0,0.53542,0.46532,0.05518,0.01902,0.13870
15442,249872,140,3,25,Massachusetts,MA,Hinsdale,Pittsfield City,City,tract,...,43.72123,45.58333,21.93171,226.92911,992.0,0.88533,0.53010,0.01267,0.01267,0.12988
27317,272666,140,95,39,Ohio,OH,Toledo,Toledo City,Village,tract,...,37.11349,39.16667,22.17818,539.25350,2521.0,0.52659,0.45492,0.05796,0.02810,0.09895
35578,288460,140,35,49,Utah,UT,Salt Lake City,Magna,City,tract,...,30.06587,30.08333,20.55064,1274.10607,5532.0,0.80984,0.65939,0.14085,0.04516,0.06100

# Function to turn hs_degree into a binary

In [9]:
# finds and prints the mean rate of hs_degree
hs_degree_mean = df_sampled[['hs_degree']].mean()
print(hs_degree_mean)

hs_degree    0.855826
dtype: float64

In [10]:
# write function to check whether or not the average person is graduated
def check_condition(value, threshold):
    if value > threshold:
        return 'Yes'
    else:
        return 'No'

# uses function to check whether values are greater or lesser and writes to new column
df_sampled['avg_person_graduated'] = df_sampled['hs_degree'].apply(lambda x: check_condition(x, 0.855826))

# verifies the counts of yesses and nos within the newly generated column
yes_count = df_sampled[df_sampled['avg_person_graduated'] == 'Yes'].shape[0]
no_count = df_sampled[df_sampled['avg_person_graduated'] == 'No'].shape[0]

# verifies whether function worked
print(f"\nNumber of 'Yes' in avg_person_graduated: {yes_count}")
print(f"Number of 'No' in avg_person_graduated: {no_count}")
df_sampled.head()

Number of 'Yes' in avg_person_graduated: 234
Number of 'No' in avg_person_graduated: 145

,UID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,primary,...,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced,avg_person_graduated
18257,255215,140,161,26,Michigan,MI,Ann Arbor,Ann Arbor City,CDP,tract,...,35.16667,22.15027,735.80525,3212.0,0.64093,0.66601,0.05428,0.00000,0.08606,Yes
20794,260015,140,57,37,North Carolina,NC,Lexington,Lexington City,Village,tract,...,40.83333,23.92356,823.45034,3394.0,0.53542,0.46532,0.05518,0.01902,0.13870,No
15442,249872,140,3,25,Massachusetts,MA,Hinsdale,Pittsfield City,City,tract,...,45.58333,21.93171,226.92911,992.0,0.88533,0.53010,0.01267,0.01267,0.12988,Yes
27317,272666,140,95,39,Ohio,OH,Toledo,Toledo City,Village,tract,...,39.16667,22.17818,539.25350,2521.0,0.52659,0.45492,0.05796,0.02810,0.09895,Yes
35578,288460,140,35,49,Utah,UT,Salt Lake City,Magna,City,tract,...,30.08333,20.55064,1274.10607,5532.0,0.80984,0.65939,0.14085,0.04516,0.06100,No

# Neural Network

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
# defines x and y values for training
data_no_hs_degree = df_sampled[['debt', 'rent_mean', 'hc_mortgage_mean', 'home_equity_second_mortgage', 'second_mortgage', 'home_equity', 'family_mean']]
X = data_no_hs_degree
y = df_sampled['avg_person_graduated'].apply(lambda x: 1 if x=='Yes' else 0)

In [13]:
# splits data into x and y trains and preds
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [14]:
print(X_train) # prints X_train

          debt   rent_mean  hc_mortgage_mean  home_equity_second_mortgage  \
37200  0.66530  1609.79870        2464.48151                      0.01945
31608  0.43603   435.35302        1141.94618                      0.00000
35248  0.39068   685.43623        1171.04424                      0.00000
21570  0.71838  1380.90829        1517.81598                      0.00636
16351  0.86526  2115.61141        2620.22699                      0.06327
...        ...         ...               ...                          ...
23090  0.61548  1085.67230        1805.59115                      0.00491
27992  0.61253   823.00129        1156.75401                      0.03708
8098   0.55352   842.91630        1459.03581                      0.00563
38057  0.76538   891.19817        1344.60895                      0.02146
37589  0.38266   738.52101        1276.20272                      0.01512

       second_mortgage  home_equity   family_mean
37200          0.01945      0.15967  117634.56163
31608          0.00000      0.06593   68344.78966
35248          0.00000      0.00000   57368.83015
21570          0.00636      0.20605  115732.19603
16351          0.07323      0.23199  135158.18140
...                ...          ...           ...
23090          0.01106      0.06143   82134.81094
27992          0.05307      0.03708   58878.73198
8098           0.00563      0.06479   69312.71242
38057          0.02146      0.07582   55462.39871
37589          0.01512      0.06285   51934.12223

[303 rows x 7 columns]

In [15]:
print(y_train) # prints y_train

37200    1
31608    0
35248    0
21570    1
16351    1
        ..
23090    0
27992    0
8098     1
38057    1
37589    0
Name: avg_person_graduated, Length: 303, dtype: int64

In [16]:
np.isnan(X_train).any() # checks X_train for any nan values

debt                           False
rent_mean                      False
hc_mortgage_mean               False
home_equity_second_mortgage    False
second_mortgage                False
home_equity                    False
family_mean                    False
dtype: bool

In [17]:
X_train.isnull().any() # checks X_train for any null values

debt                           False
rent_mean                      False
hc_mortgage_mean               False
home_equity_second_mortgage    False
second_mortgage                False
home_equity                    False
family_mean                    False
dtype: bool

In [18]:
np.isnan(y_train).any() # checks y_train for any nan values

False

In [19]:
y_train.isnull().any() # checks y_train for any null values

False

In [20]:
# loads important models
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, BatchNormalization
from sklearn.metrics import accuracy_score

# defines model, including two layers
model = Sequential()
model.add(Dense(units=32, activation='ReLU', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='ReLU'))
model.add(Dense(units=1, activation='sigmoid'))

#imports optimizer and learning rate
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import LearningRateScheduler

# optimizer
initial_learning_rate = 0.001  # learning rate
optimizer = Adam(learning_rate=initial_learning_rate)

# learning rate scheduler
def lr_scheduler(epoch):
    return initial_learning_rate * 0.95 ** epoch

# callbacks learning rate per epoch
lr_callback = LearningRateScheduler(lr_scheduler)

In [21]:
# defines model compiler
model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
# fits model
model.fit(X_train, y_train, batch_size = 1, epochs = 100, callbacks=[lr_callback])

Epoch 1/100
303/303 [==============================] - 1s 1ms/step - loss: 292.8419 - accuracy: 0.5743 - lr: 0.0010
Epoch 2/100
303/303 [==============================] - 0s 1ms/step - loss: 203.4648 - accuracy: 0.5776 - lr: 9.5000e-04
Epoch 3/100
303/303 [==============================] - 0s 1ms/step - loss: 161.6261 - accuracy: 0.6271 - lr: 9.0250e-04
Epoch 4/100
303/303 [==============================] - 0s 1ms/step - loss: 168.0121 - accuracy: 0.5974 - lr: 8.5737e-04
Epoch 5/100
303/303 [==============================] - 0s 1ms/step - loss: 173.4114 - accuracy: 0.5974 - lr: 8.1451e-04
Epoch 6/100
303/303 [==============================] - 0s 1ms/step - loss: 96.4717 - accuracy: 0.6139 - lr: 7.7378e-04
Epoch 7/100
303/303 [==============================] - 0s 1ms/step - loss: 145.3347 - accuracy: 0.5974 - lr: 7.3509e-04
Epoch 8/100
303/303 [==============================] - 0s 981us/step - loss: 93.9268 - accuracy: 0.6403 - lr: 6.9834e-04
Epoch 9/100
303/303 [==============================] - 0s 986us/step - loss: 96.8936 - accuracy: 0.6502 - lr: 6.6342e-04
Epoch 10/100
303/303 [==============================] - 0s 990us/step - loss: 116.6562 - accuracy: 0.6205 - lr: 6.3025e-04
Epoch 11/100
303/303 [==============================] - 0s 994us/step - loss: 119.2742 - accuracy: 0.6040 - lr: 5.9874e-04
Epoch 12/100
303/303 [==============================] - 0s 971us/step - loss: 134.8774 - accuracy: 0.5875 - lr: 5.6880e-04
Epoch 13/100
303/303 [==============================] - 0s 1ms/step - loss: 79.9584 - accuracy: 0.6568 - lr: 5.4036e-04
Epoch 14/100
303/303 [==============================] - 0s 992us/step - loss: 76.7619 - accuracy: 0.6271 - lr: 5.1334e-04
Epoch 15/100
303/303 [==============================] - 0s 986us/step - loss: 103.7810 - accuracy: 0.6436 - lr: 4.8767e-04
Epoch 16/100
303/303 [==============================] - 0s 1ms/step - loss: 76.4078 - accuracy: 0.6436 - lr: 4.6329e-04
Epoch 17/100
303/303 [==============================] - 0s 1ms/step - loss: 72.8537 - accuracy: 0.6205 - lr: 4.4013e-04
Epoch 18/100
303/303 [==============================] - 0s 998us/step - loss: 67.8405 - accuracy: 0.6238 - lr: 4.1812e-04
Epoch 19/100
303/303 [==============================] - 0s 983us/step - loss: 58.0886 - accuracy: 0.6436 - lr: 3.9721e-04
Epoch 20/100
303/303 [==============================] - 0s 966us/step - loss: 62.3931 - accuracy: 0.6766 - lr: 3.7735e-04
Epoch 21/100
303/303 [==============================] - 0s 964us/step - loss: 48.3994 - accuracy: 0.6535 - lr: 3.5849e-04
Epoch 22/100
303/303 [==============================] - 0s 967us/step - loss: 55.6393 - accuracy: 0.6502 - lr: 3.4056e-04
Epoch 23/100
303/303 [==============================] - 0s 978us/step - loss: 62.8397 - accuracy: 0.6337 - lr: 3.2353e-04
Epoch 24/100
303/303 [==============================] - 0s 995us/step - loss: 64.8877 - accuracy: 0.6700 - lr: 3.0736e-04
Epoch 25/100
303/303 [==============================] - 0s 994us/step - loss: 48.8636 - accuracy: 0.6502 - lr: 2.9199e-04
Epoch 26/100
303/303 [==============================] - 0s 1ms/step - loss: 33.7853 - accuracy: 0.6865 - lr: 2.7739e-04
Epoch 27/100
303/303 [==============================] - 0s 974us/step - loss: 45.7616 - accuracy: 0.6535 - lr: 2.6352e-04
Epoch 28/100
303/303 [==============================] - 0s 1ms/step - loss: 39.6084 - accuracy: 0.6634 - lr: 2.5034e-04
Epoch 29/100
303/303 [==============================] - 0s 991us/step - loss: 37.9640 - accuracy: 0.6832 - lr: 2.3783e-04
Epoch 30/100
303/303 [==============================] - 0s 971us/step - loss: 34.5544 - accuracy: 0.6634 - lr: 2.2594e-04
Epoch 31/100
303/303 [==============================] - 0s 1ms/step - loss: 31.7049 - accuracy: 0.6832 - lr: 2.1464e-04
Epoch 32/100
303/303 [==============================] - 0s 1ms/step - loss: 38.1869 - accuracy: 0.6601 - lr: 2.0391e-04
Epoch 33/100
303/303 [==============================] - 0s 1ms/step - loss: 37.5394 - accuracy: 0.6403 - lr: 1.9371e-04
Epoch 34/100
303/303 [==============================] - 0s 1ms/step - loss: 34.3110 - accuracy: 0.6469 - lr: 1.8403e-04
Epoch 35/100
303/303 [==============================] - 0s 1ms/step - loss: 35.0568 - accuracy: 0.6469 - lr: 1.7482e-04
Epoch 36/100
 48/303 [===>..........................] - ETA: 0s - loss: 22.0701 - accuracy: 0.7083

In [ ]:
# performs a prediction
y_hat = model.predict(X_test)

# prints out the whole accuracy
print(y_hat)

# reevaluates to binary
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

# prints out the accuracy again
print(y_hat)

# prints final accuracy
print(accuracy_score(y_test, y_hat))

In [ ]:
accuracy_score(y_test, y_hat)

# Heatmap

In [ ]:
import matplotlib.pyplot as mp 
import seaborn as sb 
from PIL import _imaging
from PIL import Image
  
data = df_sampled[['hs_degree', 'rent_mean', 'hc_mortgage_mean', 'second_mortgage', 'home_equity', 'family_mean']]
 
print(data.corr()) 
  
dataplot=sb.heatmap(data.corr(), annot=True)
  
mp.show()

# Interactive US Map

In [ ]:
import plotly.express as px
avg_grad_rates = df.groupby('state_ab')['hs_degree'].mean().reset_index()

fig = px.choropleth(avg_grad_rates,
                    locations='state_ab',
                    locationmode='USA-states',
                    color='hs_degree',
                    hover_name='state_ab',
                    color_continuous_scale='blues',
                    title='Average High School Graduation Rates by State')
fig.update_layout(geo_scope='usa')
fig.show()

# Scatterplot of Degree Percentage versus Debt Percentage

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(8, 6))
plt.scatter(df_sampled['debt'], df_sampled['hs_degree'], color='b', alpha=0.5)
plt.title('High School Degree Percentage vs Debt Percentage')
plt.xlabel('Debt Percentage')
plt.ylabel('High School Degree Percentage')
plt.grid(True)
plt.show()

# Line Chart of Graduation Rate versus Debt Rate

In [ ]:
bins = np.linspace(0, 1, 11)  # Bins from 0 to 1 with 5 intervals
labels = [f'{bins[i]:.2f}-{bins[i+1]:.2f}' for i in range(len(bins)-1)]

df['debt_binned'] = pd.cut(df['debt'], bins=bins, labels=labels, right=False)

avg_graduation_rate = df.groupby('debt_binned')['hs_degree'].mean()

plt.figure(figsize=(10, 6))
plt.plot(avg_graduation_rate.index, avg_graduation_rate.values, marker='o', linestyle='-', color='skyblue')

plt.xlabel('Debt Percentage Range')
plt.ylabel('Average Graduation Rate')
plt.title('Average Graduation Rate by Debt Percentage Range')

plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Random Forest Classifier

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

In [ ]:
# identify the x and y
X = df_sampled[['debt', 'family_mean']]
y = df_sampled['avg_person_graduated'].apply(lambda x: 1 if x=='Yes' else 0)

In [ ]:
# split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# creates the random forest classifier
clf = RandomForestClassifier(random_state=42)

In [ ]:
# trains the model
clf.fit(X_train, y_train)

In [ ]:
# predicts values based on previously split test set
y_pred = clf.predict(X_test)

In [ ]:
# accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

# classification report
report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

In [ ]:
# plots boundaries
if X.shape[1] == 2:
    plt.figure(figsize=(8, 6))
    xx, yy = np.meshgrid(np.linspace(X.values[:, 0].min() - 0.1, X.values[:, 0].max() + 0.1, 100),
                         np.linspace(X.values[:, 1].min() - 100, X.values[:, 1].max() + 100, 100))
    Z = clf.predict(np.c_[xx.ravel(), yy.ravel()]).reshape(xx.shape)
    plt.contourf(xx, yy, Z, alpha=0.3, cmap='viridis')
    plt.scatter(X.values[:, 0], X.values[:, 1], c=y, cmap='viridis', edgecolors='k')
    plt.xlabel('Debt')
    plt.ylabel('Family Income Mean')
    plt.title('Random Forest Classifier Decision Boundaries')
    plt.colorbar()
    plt.show()

# plots features
plt.figure(figsize=(8, 6))
plt.bar(X.columns, clf.feature_importances_, color='skyblue')
plt.xlabel('Features')
plt.ylabel('Importance')
plt.title('Feature Importance of Random Forest Classifier')
plt.show()

# Decision Tree Classifier

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score

In [ ]:
# find x and y
X = df_sampled[['debt', 'family_mean']]
y = df_sampled['avg_person_graduated'].apply(lambda x: 1 if x=='Yes' else 0)

In [ ]:
# separates data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# creates a decision tree classifier
clf = DecisionTreeClassifier(random_state=42)

In [ ]:
# trains the classifier
clf.fit(X_train, y_train)

In [ ]:
# predicts x_test
y_pred = clf.predict(X_test)

In [ ]:
# accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

# classification report
report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

In [ ]:
# plots the boundaries
plt.figure(figsize=(8, 6))

# plots points of each class
plt.scatter(X[y == 0]['debt'], X[y == 0]['family_mean'], cmap='viridis', edgecolors='k', label='Not Graduated')
plt.scatter(X[y == 1]['debt'], X[y == 1]['family_mean'], cmap='viridis', edgecolors='k', label='Graduated')

# creates a meshgrid to plot the decision boundaries
xx, yy = np.meshgrid(np.linspace(X['debt'].min() - 0.1, X['debt'].max() + 0.1, 100),
                     np.linspace(X['family_mean'].min() - 100, X['family_mean'].max() + 100, 100))
Z = clf.predict(np.c_[xx.ravel(), yy.ravel()]).reshape(xx.shape)

# plots the contour filled regions
plt.contourf(xx, yy, Z, alpha=0.3, cmap='viridis')

# labels and title
plt.xlabel('Debt')
plt.ylabel('Family Income Mean')
plt.title('Decision Tree Classifier Decision Boundaries')
plt.colorbar()
plt.legend()
plt.show()
# plots the decision tree
plt.figure(figsize=(12, 8))
plot_tree(clf, filled=True, feature_names=X.columns, class_names=['Not Graduated', 'Graduated'])
plt.title('Decision Tree Classifier')
plt.show()

# Pair Plot of Rent Mean versus Highschool Degree Rate

In [ ]:
sb.pairplot(df_sampled[['rent_mean', 'hs_degree']], height=3)
plt.suptitle('Pair Plot: Rent Mean vs HS Degree', y=1.02)
plt.show()

# Joint Plot of Mortgage Mean versus High School Degree Rate

In [ ]:
sb.jointplot(x='hc_mortgage_mean', y='hs_degree', data=df_sampled, kind='hex', height=6)
plt.suptitle('Joint Plot (Hexbin): Household Mortgage Mean vs HS Degree', y=1.02)
plt.show()

# Scatter Plot of Family Income Mean versus High School Degree Rate

In [ ]:
sb.lmplot(x='family_mean', y='hs_degree', data=df_sampled, height=6, aspect=1.5, scatter_kws={'alpha':0.5})
plt.title('Scatter Plot with Regression Line: Family Income Mean vs HS Degree')
plt.show()