# Creating New GitHub Repo with Jupyter Notebook

In [1]:
import tensorflow as tf

In [2]:
import numpy as np

In [3]:
import pandas as pd
# code: "from sklearn.model_selection import train_test_split"

In [4]:
df = pd.read_csv('real_estate_db.csv', encoding='latin-1') # imports the CSV into the local notebook.

In [5]:
df.drop_duplicates(subset=None, inplace=True) # drops duplicates to a new file.
df.to_csv('real_estate_db.csv', index=False) # replaces the file from the old one to the newly duplicate-removed file.

In [6]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df.to_csv('real_estate_db.csv', index=False) # replaces the file from the old one to the newly NaN-cell-filled file.

In [7]:
df.head()

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,220336,NaN,140,16,2,Alaska,AK,Unalaska,Unalaska City,City,...,32.78177,31.91667,19.31875,440.46429,1894.0,0.25053,0.47388,0.30134,0.03443,0.09802
1,220342,NaN,140,20,2,Alaska,AK,Eagle River,Anchorage,City,...,38.97956,39.66667,20.05513,466.65478,1947.0,0.94989,0.52381,0.01777,0.00782,0.13575
2,220343,NaN,140,20,2,Alaska,AK,Jber,Anchorage,City,...,22.20427,23.16667,13.86575,887.67805,3570.0,0.00759,0.50459,0.06676,0.01000,0.01838
3,220345,NaN,140,20,2,Alaska,AK,Anchorage,Point Mackenzie,City,...,37.00750,34.00000,22.06347,281.49420,1049.0,0.20247,0.44428,0.05933,0.00000,0.21563
4,220347,NaN,140,20,2,Alaska,AK,Anchorage,Anchorage,City,...,34.96611,31.75000,20.49887,655.98066,2905.0,0.56936,0.51034,0.08315,0.06731,0.08711